          <ul class="sidebar-menu">
              <li class="menu-header">Menú</li>
              <li{{ ' class="active"'|is_active('^index(.*)', page)|safe }}><a class="nav-link" href="index.html"><i class="fas fa-home"></i> <span>CrediCel</span></a></li>
              <li class="menu-header">Servicios</li>
              <li{{ ' class="active"'|is_active('^blank(.*)', page)|safe }}><a class="nav-link" href="blank.html"><i class="fas fa-leaf"></i> <span>PayJoy</span></a></li>
              <li{{ ' class="active"'|is_active('^blank(.*)', page)|safe }}><a class="nav-link" href="blank.html"><i class="fas fa-mask"></i> <span>Adelantos</span></a></li>
              <li{{ ' class="active"'|is_active('^blank(.*)', page)|safe }}><a class="nav-link" href="blank.html"><i class="fas fa-mobile"></i> <span>Credicel</span></a></li>
              <li{{ ' class="active"'|is_active('^blank(.*)', page)|safe }}><a class="nav-link" href="blank.html"><i class="fas fa-images"></i> <span>Material Descargable</span></a></li>
              <li class="menu-header">Ayuda</li>
              <li class="nav-item dropdown{{ ' active'|is_active('^components-(.*)', page)|safe }}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-question-circle"></i> <span>PayJoy</span></a>
                <ul class="dropdown-menu">
                  <li{{ ' class="active"'|is_active('^components-article(.*)', page)|safe }}><a class="nav-link" href="components-article.html">Crédito Payjoy</a></li>
                </ul>
              </li>
            </ul>

