{% set title = 'Login' %}
{% set page = 'auth-login.html' %}
{% set body = false %}
{% extends 'layouts/master.html' %}

{% block plugins_css %}
  <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
{% endblock %}

{% block content_2 %}
    <section class="section bg-login">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 offset-md-1 col-lg-6 offset-lg-1">
            <div class="login-brand">
              <img src="../assets/img/logo/credicel.png" alt="Credicel" width="200" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
              <div class="card-header "><h4 class="text-center w-100">Bienvenido</h4></div>

              <div class="card-body">
                <form method="POST" action="#" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="userinfo">Usuario</label>
                    <input id="userinfo" type="text" class="form-control" name="email" tabindex="1" required autofocus>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="password" class="control-label">Constraseña</label>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>

              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              <a href="#">Olvido su contraseña</a>
            </div>
            <div class="simple-footer">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>Microtecnologías Móviles S.A. de C.V.
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
