{% set title = 'Ecommerce Dashboard' %}
{% set page = 'index.html' %}
{% extends 'layouts/master.html' %}

{% block plugins_css %}
  <link rel="stylesheet" href="../node_modules/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="../node_modules/summernote/dist/summernote-bs4.css">
  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
{% endblock %}

{% block content %}
        <section class="section home-sec bg-home">
          <!-- <div class="row home-sec__title">
            <div class="col-12">
              <div class="card text-center m-0">
                <h1 class="title">Credi<span>CEL</span></h1>
                <h5>Con CrediCel descubre las diferentes formas que tenemos de financiamiento,<br> llevate tu nuevo celular de la manera mas fácil</h5>
              </div>
            </div>
          </div> -->

          <div class="row home-sec__slider w-100">
            <div class="col-12 p-0">
              <div class="owl-carousel owl-theme slider" id="slider1">
                <!-- <div><img class="owl-lazy" alt="image" data-src="../assets/img/home/banners/principal.jpg"></div>
                <div><img class="owl-lazy" alt="image" data-src="../assets/img/home/banners/principal.jpg"></div> -->

                <div class="owl-lazy slider-hg" data-src="../assets/img/home/banners/principal1.2.6.jpg"></div>
                <div class="owl-lazy slider-hg" data-src="../assets/img/home/banners/principal1.2.6.jpg"></div>
                <!-- <div><img class="owl-lazy" alt="image" data-src="../assets/img/home/banners/banner-pj-1920x1279.jpg"></div>
                <div><img class="owl-lazy" alt="image" data-src="../assets/img/home/banners/banner-pj-2-1920x1279.jpg"></div>
                <div><img class="owl-lazy" alt="image" data-src="../assets/img/home/banners/banner-adelantos-1920x1279.jpg"></div>
                <div><img class="owl-lazy" alt="image" data-src="../assets/img/home/banners/banner-adelantos-2-1920x1279.jpg"></div> -->
              </div>
            </div>
          </div>

          <div class="row home-sec__services bg-blackgradient w-100">
            <div class="col-11">
              <h4 class="subtitle m-0">Vende telefonos a crédito con cualquiera de estas plataformas ...</h4>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-10 col-8">

              <ul class="nav nav-tabs justify-content-center services border-0">
                <li class="nav-item services__opc">
                  <div class="card">
                    <a href="https://www.payjoy.com/merchant2/#/app" target="_blank" class="card-body opcserv opcserv--lgreen">
                      <!-- <strong>Venta</strong> -->
                      <img src="../assets/img/home/PayJoy_Logo2.png" alt="Payjoy" class="img-fluid">
                    </a>
                  </div>
                  <a href="" class="btn-servs btn-servs--green active pageto" id="payjoy-tab"><small>Pago</small><strong class="d-block">PAYJOy</strong></a>
                </li>
                <li class="nav-item services__opc">
                  <div class="card">
                    <a href="https://movil-prod-mx.auth.us-east-1.amazoncognito.com/login?redirect_uri=https%3A%2F%2Fmovil-journey.adelantosmexico.com&response_type=code&client_id=276f16npnrkfgkjfgmnq98iqi5&state=f0n3q13l78j2qj9g1eaVBJBVRv3IoeHv&scope=openid%20email" target="_blank" class="card-body opcserv opcserv--green">
                      <img src="../assets/img/home/adelantos.png" alt="Adelantos" class="img-fluid">
                    </a>
                  </div>
                  <a href="" class="btn-servs btn-servs--blue pageto" id="adelantos-tab"><small>Pago</small><strong class="d-block">Adelantos</strong></a>
                </li>
                <li class="nav-item services__opc">
                  <div class="card">
                    <a href="https://credicel.mx/solicitud.html" target="_blank" class="card-body opcserv opcserv--yell">
                      <img src="../assets/img/home/Logo-Credicel-2.png" alt="Credicel" class="img-fluid">
                    </a>
                  </div>
                  <a href="" class="btn-servs btn-servs--purple pageto" id="credicel-tab"><small>Pago</small><strong class="d-block">CREDICEL</strong></a>
                </li>
              </ul>
            </div>

          </div>
        </section>
{% endblock %}

{% block plugins_js %}
<script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<!--   <script src="../node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
  <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="../node_modules/summernote/dist/summernote-bs4.js"></script>
  <script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script> -->
{% endblock %}

{% block page_js %}
  <!-- <script src="../assets/js/page/index.js"></script> -->
  <script src="../assets/js/page/modules-slider.js"></script>
{% endblock %}
